
<nav class ="navbar navbar-dark bg-dark">
        <button class="btn btn-success"><a class="navbar-brand" routerLink="login">Login</a></button>
       <!-- <button class="btn btn-success"><a class="navbar-brand" routerLink="demo">Demo</a></button>
        <button class="btn btn-success"><a class="navbar-brand" routerLink="app">app</a></button>
        <button class="btn btn-success"><a class="navbar-brand" routerLink="product">product</a></button>
        <button class="btn btn-success"><a class="navbar-brand" routerLink="A">A</a></button>
        <button class="btn btn-success"><a class="navbar-brand" routerLink="B">B</a></button>
         <button class="btn btn-success"><a class="navbar-brand" routerLink="user">Welcome</a></button>
           <button class="btn btn-success" (click)="logout()"><a>Logout</a></button>
-->
        
        <button class="btn btn-success"><a class="navbar-brand" routerLink="register">Register</a></button>
     
</nav>   
 
 
  
     <router-outlet></router-outlet>





