<p align="right">
    <button class="btn btn-danger" (click)="logout()">Log Out</button>
</p>
UserName: {{emp}}
<br>
search: <input type="text" [(ngModel)]="query">


    <table class="table table-striped">
        <tr>
            
            <th>product</th>
            <th>description</th>
            <th>price</th>
            <th>Discount Price</th>
        </tr>
        <tr *ngFor="let x of products | search : query">

            <td>{{x.NAME}}</td>
            <td>{{x.DESCRIPTION}}</td>
            <td>{{x.PRICE}}</td>
            <td>{{x.DISCOUNT}}</td>
            <td><button class="btn btn-warning" (click)="update(x)" >Update</button></td>
            <td><button class="btn btn-danger" (click)="deleteProduct(x.id)">Delete</button></td>
            
        </tr>

    </table>

ADD Products:
    productName:<input type="text"  [(ngModel)]="product.NAME">
    Description:<input type="text" [(ngModel)]="product.DESCRIPTION">
    Price:<input type="text" [(ngModel)]="product.PRICE"> 
    Discount:<input type="text" [(ngModel)]="product.DISCOUNT">
    Quantity:<input type="text" [(ngModel)]="product.QUANTITY">
    <input type="button" class="btn btn-primary"(click)="addProduct()" value="Save">
<br>
<br>
<div *ngIf="isUpdate">
    Update Products:
    productName:<input type="text" [(ngModel)]="product.NAME">
    Description:<input type="text" [(ngModel)]="product.DESCRIPTION">
    Price:<input type="text" [(ngModel)]="product.PRICE">
    Discount:<input type="text" [(ngModel)]="product.DISCOUNT">
    <input type="button" class="btn btn-primary" (click)="updateProduct()" value="Save">    
</div>
