
<div *ngIf="isFilled" class="alert alert-success">
    <h1>Your Details Are Submitted
    </h1>
</div>
<form class="" #frm='ngForm'>
    <div class="">
        <label for="email"><b>Email</b></label>
        <input type="email" [(ngModel)]="emp.email" name="email" required #email='ngModel' email>
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)">

        <div class="alert alert-danger" *ngIf="email.errors?.['required'] ">
            Email id is Required.
        </div>
        <div class="alert alert-danger" *ngIf="email.errors?.['email'] ">
            Email id is Invalid.
        </div>
    </div>

    <div class="">
        <label for="name"><b>Name</b></label>
        <input type="text" [(ngModel)]="emp.name" name="name" required>
    </div>

    <div class="">
        <label for="FirstName"><b>FirstName</b></label>
        <input type="text" [(ngModel)]="emp.firstName" name="FirstName" required="">
    </div>

    <div>
        <label for="LastName"><b>LastName</b></label>
        <input type="text" [(ngModel)]="emp.lastName" name="LastName" required="">
    </div>
    <div>
        <label for="Password"><b>Password</b></label>
        <input type="password" [(ngModel)]="emp.password" name="Password" required #password='ngModel' minlength="5">
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)">

        <div class="alert alert-danger" *ngIf="password.errors?.['required'] ">
            Password is Required.
        </div>
        <div class="alert alert-danger" *ngIf="password.errors?.['minlength'] ">
            Password needs to have 5 chars.
        </div>
    </div>

    <input type="button" (click)="save()" value="Save" class="btn btn-primary">

</form>